/* Min reset*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------Variables------------------ */
/* Font*/
/*Colors*/
/* Ident */
/* ---------------------------------------- */
/* Common styles */
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #0e204e;
  overflow-x: hidden;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 50px;
}

/* ---------------------------------------- */
/* Header section*/
/* Desktop styles */
.header {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-animation: slide-header 1.5s forwards;
          animation: slide-header 1.5s forwards;
}
@-webkit-keyframes slide-header {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-header {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.header__container {
  padding: 50px 50px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header__logo {
  display: block;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.34375;
}
.header__logo span {
  display: block;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list :nth-child(2) {
  margin-left: 87px;
}
.header__list :nth-child(3) {
  margin-left: 92px;
  margin-right: 180px;
}
.header__item {
  color: #263238;
  position: relative;
}
.header__item ::before,
.header__item ::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-style: solid;
  border-color: #030033;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.header__item ::before {
  top: -15px;
  left: 0;
  border-width: 3px 0 0 3px;
}
.header__item ::after {
  bottom: -15px;
  right: 0;
  border-width: 0px 3px 3px 0px;
}
.header__item :hover::before,
.header__item :hover::after {
  width: calc(100% + 3rem);
  height: calc(100% + 3rem);
  border-color: #0e204e;
}
.header__item :hover {
  color: #fff;
  background-color: #030033;
}
.header__link {
  padding: 15px;
  line-height: 1.35;
}
.header__btn {
  padding: 9px 33px 10px 39px;
  font-size: 20px;
  line-height: 1.35;
  color: #fff;
  background-color: #0e204e;
  border: 1px solid transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  -webkit-animation: slide-btn 2s ease-in 1s forwards;
          animation: slide-btn 2s ease-in 1s forwards;
}
.header__btn:hover {
  color: #0e204e;
  background-color: #fff;
  border-color: #0e204e;
  -webkit-box-shadow: rgb(14, 32, 78) 5px 5px, rgba(14, 32, 78, 0.8) 10px 10px, rgba(14, 32, 78, 0.6) 15px 15px, rgba(14, 32, 78, 0.4) 20px 20px, rgba(14, 32, 78, 0.2) 25px 25px;
          box-shadow: rgb(14, 32, 78) 5px 5px, rgba(14, 32, 78, 0.8) 10px 10px, rgba(14, 32, 78, 0.6) 15px 15px, rgba(14, 32, 78, 0.4) 20px 20px, rgba(14, 32, 78, 0.2) 25px 25px;
}
@-webkit-keyframes slide-btn {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slide-btn {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/* Header section */
/* Mobile styles */
@media (max-width: 1200px) {
  .header {
    min-width: 100%;
  }
  .header__list :nth-child(2) {
    margin-left: 30px;
  }
  .header__list :nth-child(3) {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 991px) {
  .header {
    position: fixed;
    z-index: 20;
  }
  .header__container {
    display: block;
    position: fixed;
    padding: 0px;
  }
  .header__logo {
    position: fixed;
    padding: 10px;
    z-index: 21;
    font-size: 20px;
  }
  .header__list {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: #030033;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  .header__list :nth-child(2) {
    margin-left: 0px;
  }
  .header__list :nth-child(3) {
    margin-left: 0px;
  }
  .header__item {
    padding: 10px;
    width: 100%;
  }
  .header__item :before,
.header__item :after {
    display: none;
  }
  .header__link {
    font-size: 16px;
    color: #fff;
  }
  .header__btn {
    display: none;
  }
  .header-burger {
    position: fixed;
    top: 30px;
    right: 0px;
    z-index: 20;
  }
  .header-burger ::before,
.header-burger ::after {
    content: "";
    position: absolute;
    right: 0px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #030033;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header-burger ::before {
    bottom: 10px;
  }
  .header-burger ::after {
    top: 10px;
  }
  .close {
    position: absolute;
    right: 20px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #030033;
  }
  .back-top {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }
}
.close.active::before {
  bottom: -10px;
  z-index: 10;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close.active::after {
  z-index: 10;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close.active {
  width: 0px;
}

.header__list.active {
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 15;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* ---------------------------------------- */
/* Hero section */
/* Desktop styles */
.hero {
  margin-bottom: 250px;
}
.hero__title {
  margin-bottom: 20px;
  color: #fff;
}
.hero__text {
  line-height: 1.8;
  color: #fff;
}
.hero__img {
  max-width: 100%;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hero-desc {
  position: absolute;
  top: 275px;
  left: 50px;
  padding: 40px;
  max-width: 630px;
  background-color: #0e204e;
}

.img-mobile {
  display: none;
}

.btn-mobile {
  display: none;
}

/* Hero section */
/* Mobile styles */
@media (max-width: 1200px) {
  .hero__title {
    font-size: 40px;
    text-align: center;
  }
  .hero__img {
    position: relative;
    z-index: -10;
    width: 100%;
    -webkit-filter: brightness(58%);
            filter: brightness(58%);
  }
  .hero-container {
    padding-top: 70px;
    display: block;
  }
  .hero-desc {
    top: 50%;
    left: 50%;
    z-index: 5;
    background-color: transparent;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 991px) {
  .hero {
    margin-bottom: 150px;
  }
  .hero__title {
    padding: 0;
    display: inline-block;
    width: 300px;
    font-size: 26px;
  }
  .hero__img {
    -webkit-mask-position-x: 640px;
  }
  .hero-container {
    height: 100%;
  }
  .hero-desc {
    top: 20%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .hero__text {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero__text {
    font-size: 14px;
    text-align: center;
  }
  .hero__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767px) {
  .hero-desc {
    top: 10%;
  }
}
@media (max-width: 400px) {
  .hero__text {
    margin-bottom: 32px;
  }
  .hero__img {
    display: none;
  }
  .hero-desc {
    top: 25%;
  }
  .img-mobile {
    display: block;
  }
  .btn-mobile {
    margin: 0px auto;
    padding: 10px 19px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: #0e204e;
    border: none;
    border-radius: 5px;
  }
}
/* ---------------------------------------- */
/* About section */
/* Desktop styles */
.about {
  margin-bottom: 250px;
}
.about__container {
  padding: 0px 87px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__title {
  margin-right: 20px;
  display: inline-block;
  width: 230px;
  font-size: 50px;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 850px;
}
.about__img {
  max-width: 100%;
}
.about__text {
  padding: 80px 46px;
  line-height: 1.6;
  color: #fff;
  background-color: #030033;
}

/* About section */
/* Mobile styles */
@media (max-width: 1200px) {
  .about__container {
    padding: 0px 40px 0px;
  }
}
@media (max-width: 991px) {
  .about {
    margin-bottom: 100px;
  }
  .about__container {
    padding: 0px;
    display: block;
  }
  .about__title {
    margin: 0px auto;
    margin-bottom: 30px;
    display: block;
    font-size: 24px;
    text-align: center;
  }
  .about__title span {
    display: block;
  }
  .about__content {
    position: relative;
    width: 100%;
  }
  .about__img {
    width: 100%;
    -webkit-filter: brightness(58%);
            filter: brightness(58%);
  }
  .about__text {
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 20px;
    text-align: center;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .about__text {
    top: 10%;
  }
}
@media (max-width: 610px) {
  .about__text {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .about__text {
    top: 0;
    font-size: 12px;
  }
}