/* Min reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* -------------Variables------------------ */
/* Font*/
$main-ff: 'Manrope', sans-serif;
$title-ff: 'Playfair Display', serif;

$main-fw: 400;
$secondary-fw: 500;
$title-fw: 700;

$main-fz: 20px;
$secondary-fz: 18px;
$title-fz: 50px;
$mobile-fz: 16px;

/*Colors*/
$main-dark: #0e204e;
$main-light: #fff;

$secondary-dark: #263238;

$accent: #030033;

/* Ident */
$ident_0: 0px;
$ident_10: 10px;
$ident_20: 20px;
$ident_30: 30px;
$ident_40: 40px;
$ident_50: 50px;

/* ---------------------------------------- */
/* Common styles */
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: $main-ff;
  font-weight: $main-fw;
  font-size: $main-fz;

  color: $main-dark;

  overflow-x: hidden;
}

.link {
  color: currentColor;

  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-family: $title-ff;
  font-weight: $title-fw;
  font-size: $title-fz;
}

/* ---------------------------------------- */
/* Header section*/
/* Desktop styles */
.header {
  transform: translateY(-200px);

  animation: slide-header 1.5s forwards;

  @keyframes slide-header {
    0% {
      transform: translateY(-200px);
    }

    100% {
      transform: translateY(0px);
    }
  }
  // .header__container
  &__container {
    padding: $ident_50 $ident_50 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // transition: all 1.5s;
  }

  // .header__logo

  &__logo {
    display: block;

    font-family: $title-ff;
    font-weight: $title-fw;
    font-size: 32px;
    line-height: calc(43 / 32);

    span {
      display: block;
    }
  }

  // .header__list

  &__list {
    display: flex;

    :nth-child(2) {
      margin-left: 87px;
    }

    :nth-child(3) {
      margin-left: 92px;
      margin-right: 180px;
    }
  }

  // .header__item

  &__item {
    color: $secondary-dark;
    position: relative;

    ::before,
    ::after {
      content: '';
      position: absolute;

      width: 3rem;
      height: 3rem;

      border-style: solid;
      border-color: $accent;

      transition: all 0.6s;
    }
    ::before {
      top: -15px;
      left: 0;

      border-width: 3px 0 0 3px;
    }

    ::after {
      bottom: -15px;
      right: 0;

      border-width: 0px 3px 3px 0px;
    }
    :hover::before,
    :hover::after {
      width: calc(100% + 3rem);
      height: calc(100% + 3rem);

      border-color: $main-dark;
    }

    :hover {
      color: $main-light;
      background-color: $accent;
    }
  }

  // .header__link

  &__link {
    padding: 15px;

    line-height: calc(27 / 20);
  }

  // .header__btn

  &__btn {
    padding: 9px 33px 10px 39px;

    font-size: $main-fz;
    line-height: calc(27 / 20);
    color: $main-light;

    background-color: $main-dark;

    border: 1px solid transparent;

    transition: all 0.8s;

    &:hover {
      color: $main-dark;

      background-color: $main-light;

      border-color: $main-dark;
      box-shadow: rgb(14 32 78) 5px 5px, rgba(14, 32, 78, 0.8) 10px 10px,
        rgba(14, 32, 78, 0.6) 15px 15px, rgba(14, 32, 78, 0.4) 20px 20px,
        rgba(14, 32, 78, 0.2) 25px 25px;
    }

    transform: translateX(300%);
    animation: slide-btn 2s ease-in 1s forwards;

    @keyframes slide-btn {
      0% {
        transform: translateX(200%);
      }

      100% {
        transform: translateX(0%);
      }
    }
  }
}
/* Header section */
/* Mobile styles */
@media (max-width: 1200px) {
  .header {
    // .header__list

    min-width: 100%;
    &__list {
      :nth-child(2) {
        margin-left: $ident_30;
      }

      :nth-child(3) {
        margin-left: $ident_30;
        margin-right: $ident_30;
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    position: fixed;
    z-index: 20;
    // .header__container

    &__container {
      display: block;
      position: fixed;

      padding: $ident_0;
    }

    // .header__logo

    &__logo {
      position: fixed;
      padding: 10px;
      z-index: 21;
      font-size: $main-fz;
    }

    // .header__list

    &__list {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;

      background-color: $accent;

      transform: translateY(-300px);

      :nth-child(2) {
        margin-left: $ident_0;
      }

      :nth-child(3) {
        margin-left: $ident_0;
      }
    }

    // .header__item

    &__item {
      padding: $ident_10;
      width: 100%;
      :before,
      :after {
        display: none;
      }
    }

    // .header__link

    &__link {
      font-size: $mobile-fz;
      color: $main-light;
    }

    // .header__btn

    &__btn {
      display: none;
    }
  }

  .header-burger {
    position: fixed;
    top: $ident_30;
    right: $ident_0;
    z-index: 20;

    ::before,
    ::after {
      content: '';

      position: absolute;
      right: $ident_0;

      display: block;
      width: $ident_20;
      height: 2px;

      background-color: $accent;

      transition: all 0.4s ease;
    }

    ::before {
      bottom: $ident_10;
    }

    ::after {
      top: $ident_10;
    }
  }
  .close {
    position: absolute;
    right: $ident_20;

    display: block;
    width: $ident_20;
    height: 2px;

    background-color: $accent;
  }

  .back-top {
    position: fixed;
    z-index: 20;

    width: 100%;
    height: 70px;

    background-color: $main-light;
  }
}

.close.active::before {
  bottom: -10px;
  z-index: 10;

  transform: rotate(45deg);
}

.close.active::after {
  z-index: 10;

  transform: rotate(-45deg);
}

.close.active {
  width: $ident_0;
}

.header__list.active {
  position: absolute;
  top: 70px;
  left: $ident_0;
  z-index: 15;

  transform: translateY(0);
  transition: all 0.8s ease;
}
/* ---------------------------------------- */
/* Hero section */
/* Desktop styles */
.hero {
  margin-bottom: 250px;
  // .hero__title

  &__title {
    margin-bottom: $ident_20;

    color: $main-light;
  }

  // .hero__text

  &__text {
    line-height: calc(36 / 20);
    color: $main-light;
  }

  // .hero__img

  &__img {
    max-width: 100%;
  }
}

.hero-container {
  display: flex;
  justify-content: end;
}

.hero-desc {
  position: absolute;
  top: 275px;
  left: $ident_50;

  padding: $ident_40;

  max-width: 630px;

  background-color: $main-dark;
}

.img-mobile {
  display: none;
}

.btn-mobile {
  display: none;
}
/* Hero section */
/* Mobile styles */
@media (max-width: 1200px) {
  .hero {
    // .hero__title

    &__title {
      font-size: 40px;
      text-align: center;
    }

    // .hero__img

    &__img {
      position: relative;
      z-index: -10;

      width: 100%;

      filter: brightness(58%);
    }
  }
  .hero-container {
    padding-top: 70px;

    display: block;
  }
  .hero-desc {
    top: 50%;
    left: 50%;
    z-index: 5;

    background-color: transparent;

    transform: translateX(-50%);
  }
}
@media (max-width: 991px) {
  .hero {
    margin-bottom: 150px;
    // .hero__title

    &__title {
      padding: 0;

      display: inline-block;
      width: 300px;

      font-size: 26px;
    }

    // .hero__img

    &__img {
      -webkit-mask-position-x: 640px;
    }
  }

  .hero-container {
    height: 100%;
  }

  .hero-desc {
    top: 20%;

    text-align: center;
  }
}

@media (max-width: 767px) {
  .hero {
    // .hero__text

    &__text {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    .hero {
      margin-bottom: 100px;

      // .hero__text

      &__text {
        font-size: 14px;
        text-align: center;
      }

      // .hero__img

      &__img {
        object-fit: cover;
      }
    }
  }

  .hero-desc {
    top: 10%;
  }
}

@media (max-width: 400px) {
  .hero {
    // .hero__text

    &__text {
      margin-bottom: 32px;
    }

    // .hero__img

    &__img {
      display: none;
    }
  }

  .hero-desc {
    top: 25%;
  }

  .img-mobile {
    display: block;
  }

  .btn-mobile {
    margin: 0px auto;
    padding: 10px 19px;

    display: block;

    font-weight: $secondary-fw;
    font-size: $mobile-fz;
    line-height: calc(19 / 16);
    color: $main-dark;

    border: none;
    border-radius: 5px;
  }
}
/* ---------------------------------------- */
/* About section */
/* Desktop styles */
.about {
  margin-bottom: 250px;
  // .about__container

  &__container {
    padding: 0px 87px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .about__title

  &__title {
    margin-right: $ident_20;

    display: inline-block;
    width: 230px;

    font-size: 50px;
  }

  // .about__content

  &__content {
    display: flex;
    width: 850px;
  }

  // .about__img

  &__img {
    max-width: 100%;
  }

  // .about__text

  &__text {
    padding: 80px 46px;

    line-height: calc(32 / 20);
    color: $main-light;

    background-color: $accent;
  }
}

/* About section */
/* Mobile styles */
@media (max-width: 1200px) {
  .about {
    // .about__container

    &__container {
      padding: 0px 40px 0px;
    }
  }
}
@media (max-width: 991px) {
  .about {
    margin-bottom: 100px;
    // .about__container

    &__container {
      padding: $ident_0;

      display: block;
    }

    // .about__title

    &__title {
      margin: 0px auto;
      margin-bottom: $ident_30;

      display: block;

      font-size: 24px;
      text-align: center;

      span {
        display: block;
      }
    }

    // .about__content

    &__content {
      position: relative;
      width: 100%;
    }

    // .about__img

    &__img {
      width: 100%;
      filter: brightness(58%);
    }

    // .about__text

    &__text {
      position: absolute;
      top: 30%;
      left: 50%;
      padding: $ident_20;

      text-align: center;

      transform: translate(-50%);

      background-color: transparent;
    }
  }
}
@media (max-width: 767px) {
  .about {
    // .about__text

    &__text {
      top: 10%;
    }
  }
}

@media (max-width: 610px) {
  .about {
    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .about {
    // .about__text

    &__text {
      top: 0;
      font-size: 12px;
    }
  }
}
