/* Min reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* -------------Variables------------------ */
/* Font*/
$main-ff: 'Manrope', sans-serif;
$title-ff: 'Playfair Display', serif;

$main-fw: 400;
$secondary-fw: 500;
$title-fw: 700;

$main-fz: 20px;
$secondary-fz: 18px;
$title-fz: 60px;
$mobile-fz: 16px;

/*Colors*/
$main-dark: #0e204e;
$main-light: #fff;

$secondary-dark: #263238;

$accent: #030033;

/* Ident */
$ident_0: 0px;
$ident_10: 10px;
$ident_20: 20px;
$ident_30: 30px;
$ident_40: 40px;
$ident_50: 50px;

/* ---------------------------------------- */
/* Common styles */
body {
  font-family: $main-ff;
  font-weight: $main-fw;
  font-size: $main-fz;

  color: $main-dark;

  overflow-x: hidden;
}

.link {
  color: currentColor;

  text-decoration: none;
}

.list {
  list-style: none;
}

/* ---------------------------------------- */
/* Header section*/
/* Desktop styles */
.header {
  // .header__container
  transition: all 1.5s;
  transform: translateY(-200px);

  animation: slide-header 1.5s forwards;

  @keyframes slide-header {
    0% {
      transform: translateY(-200px);
    }
    60% {
      transform: translateY(-30px);
    }
    70% {
      transform: translateY(-25px);
    }
    80% {
      transform: translateY(-20px);
    }
    85% {
      transform: translateY(-15px);
    }
    90% {
      transform: translateY(-10px);
    }
    95% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  &__container {
    padding: $ident_50 $ident_50 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // .header__logo

  &__logo {
    display: block;

    font-family: $title-ff;
    font-weight: $title-fw;
    font-size: 32px;
    line-height: calc(43 / 32);

    span {
      display: block;
    }
  }

  // .header__list

  &__list {
    display: flex;

    :nth-child(2) {
      margin-left: 87px;
    }

    :nth-child(3) {
      margin-left: 92px;
      margin-right: 180px;
    }
  }

  // .header__item

  &__item {
    color: $secondary-dark;
    position: relative;

    ::before,
    ::after {
      content: '';
      position: absolute;

      width: 3rem;
      height: 3rem;

      border-style: solid;
      border-color: $accent;

      transition: all 0.6s;
    }
    ::before {
      top: -15px;
      left: 0;

      border-width: 3px 0 0 3px;
    }

    ::after {
      bottom: -15px;
      right: 0;

      border-width: 0px 3px 3px 0px;
    }
    :hover::before,
    :hover::after {
      width: calc(100% + 3rem);
      height: calc(100% + 3rem);

      border-color: $main-dark;
    }

    :hover {
      color: $main-light;
      background-color: $accent;
    }
  }

  // .header__link

  &__link {
    padding: 15px;

    line-height: calc(27 / 20);
  }

  // .header__btn

  &__btn {
    padding: 9px 33px 10px 39px;

    font-size: $main-fz;
    line-height: calc(27 / 20);
    color: $main-light;

    background-color: $main-dark;

    border: 1px solid transparent;

    transition: all 0.8s;

    &:hover {
      color: $main-dark;

      background-color: $main-light;

      border-color: $main-dark;
      box-shadow: rgb(14 32 78) 5px 5px, rgba(14, 32, 78, 0.8) 10px 10px,
        rgba(14, 32, 78, 0.6) 15px 15px, rgba(14, 32, 78, 0.4) 20px 20px,
        rgba(14, 32, 78, 0.2) 25px 25px;
    }

    transform: translateX(300%);
    animation: header 2s ease-in 1s forwards;

    @keyframes header {
      0% {
        transform: translateX(200%);
      }

      100% {
        transform: translateX(0%);
      }
    }
  }
}
/* Header section */
/* Mobile styles */
@media (max-width: 1200px) {
  .header {
    // .header__list

    min-width: 100%;
    &__list {
      :nth-child(2) {
        margin-left: $ident_30;
      }

      :nth-child(3) {
        margin-left: $ident_30;
        margin-right: $ident_30;
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    // .header__container

    &__container {
      display: block;
      position: fixed;

      padding: $ident_0;
    }

    // .header__logo

    &__logo {
      position: absolute;
      padding: 10px;
      z-index: 10;
      font-size: $main-fz;
    }

    // .header__list

    &__list {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;

      background-color: $accent;

      transform: translateY(-300px);

      :nth-child(2) {
        margin-left: $ident_0;
      }

      :nth-child(3) {
        margin-left: $ident_0;
      }
    }

    // .header__item

    &__item {
      padding: $ident_10;
      width: 100%;
      :before,
      :after {
        display: none;
      }
    }

    // .header__link

    &__link {
      font-size: $mobile-fz;
      color: $main-light;
    }

    // .header__btn

    &__btn {
      display: none;
    }
  }

  .header-burger {
    position: absolute;
    top: $ident_30;
    right: $ident_0;
    z-index: 11;

    ::before,
    ::after {
      content: '';

      position: absolute;
      right: $ident_0;

      display: block;
      width: $ident_20;
      height: 2px;

      background-color: $accent;

      transition: all 0.4s ease;
    }

    ::before {
      bottom: $ident_10;
    }

    ::after {
      top: $ident_10;
    }
  }
  .close {
    position: absolute;
    right: $ident_20;

    display: block;
    width: $ident_20;
    height: 2px;

    background-color: $accent;
  }
  .back-top {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: $main-light;
    z-index: 7;
  }
}

.close.active::before {
  bottom: -10px;
  z-index: 10;

  transform: rotate(45deg);
}

.close.active::after {
  z-index: 10;

  transform: rotate(-45deg);
}

.close.active {
  width: $ident_0;
}

.header__list.active {
  position: absolute;
  top: 70px;
  left: $ident_0;

  transform: translateY(0);
  transition: all 0.8s ease;
}
